./Draw/ipynb_checkpoints/
./Hold/ipynb_checkpoints/

./Draw/Fixed_Data
./Draw/Input_Data
./Draw/Output_Data
./Draw/Fixed_Data/Stored_Data
./KR

*.xlsx
*.txt
*.DS_store
*.__pycache__
KR/read_email.ipynb
KR/read_email.ipynb
KR/read_email.ipynb
KR/read_email.ipynb
