<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Root Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/root.css" />
  </head>

  <body>
    <div class="content">
      <div>
        <img src="static/img/CICCWM.png">
      </div>

      <div class="menu">
        <div>当前操作模式 <b>现金分红</b></div>
        <div class="buttons">
            <button><div>追加</div></button >    
            <button><div>调减</div></button>  

        </div>

      </div>

    </div>
  </body>
</html>